<div class="overlay">
  <div class="modal" id="consultation">
    <div class="modal__close">&times;</div>
    <div class="modal__title">Просто заполните форму заявки</div>
    <div class="modal__descr">и мы перезвоним вам в течении 10 минут</div>
    <form action="submit" method="POST" class="feed-form">
      <input name="name" required type="text" placeholder="Ваше имя" class="feed-form__control">
      <input name="phone" required placeholder="Ваш телефон" class="feed-form__control">
      <input name="email" required type="email" placeholder="Ваш E-mail" class="feed-form__control">

      <button type="submit" class="button button_feed-form">
        заказать кОНСУЛЬТАЦИЮ
      </button>
    </form>
  </div>

  <div class="modal" id="order">
    <div class="modal__close">&times;</div>
    <div class="modal__title">Ваш заказ:</div>
    <div class="modal__descr">Пульсометр Polar FT1</div>
    <form action="submit" method="POST" class="feed-form">
      <input name="name" required type="text" placeholder="Ваше имя" class="feed-form__control">
      <input name="phone" required placeholder="Ваш телефон" class="feed-form__control">
      <input name="email" required type="email" placeholder="Ваш E-mail" class="feed-form__control">

      <button type="submit" class="button button_feed-form">
        Купить
      </button>
    </form>
  </div>

   <div class="modal modal_application" id="application">
    <div class="modal__close">&times;</div>
    <div class="modal__title">Спасибо за вашу заявку!</div>
    <div class="modal__descr">Наш менеджер свяжется с вами <br> в ближайшее время!</div>
  </div>

</div>