.tabs {
  margin-top: 70px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;

  &__item {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #6b6b6b;
    text-transform: uppercase;
    line-height: 48px;
    // Tab
    width: 220px;
    height: 50px;
    border: solid 2px #d0d0d0;
    background-color: #fff;
    transform: skewX(-25deg);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.5s all;

    &:hover {
      box-shadow: 3px 3px 15px black;
      border: none;
    }

    div {
      transform: skewX(25deg);
    }

    &_active {
      background-color: #c70101;
      color: #ffffff;
      border: none;
    }
  }

}