<section class="carousel">
  <div class="container">
      <div class="carousel__inner">
        <div class="carousel__image">
          <img src="assets/image/items/clock.png" alt="slide" class="carousel__img">
        </div>
        <div class="carousel__image">
          <img src="assets/image/items/clock2.png" alt="slide" class="carousel__img">
        </div>
        <div div div class="carousel__image">
          <img src="assets/image/items/clock4.png" alt="slide" class="carousel__img">
        </div>

      </div>
      <button type="button" class="carousel__arrow-prev"><img src="assets/image/icons/arrow2.png"></button>
      <button type="button" class="carousel__arrow-next"><img src="assets/image/icons/arrow.png"></button>
  </div>
</section>