<section class="consultation">
  <div class="container">
    <h2 class="consultation__title">
      Получите бесплатную консультацию <br>
      по подбору пульсометра 
    </h2>
    <div class="consultation__descr">
      Просто заполните форму заявки <br>
      и мы перезвоним вам в течении 10 минут
    </div>

    <form action="submit" method="POST" class="feed-form" id="consultation-form">
      <input name="name" required type="text" placeholder="Ваше имя" class="feed-form__control">
      <input name="phone" required placeholder="Ваш телефон" class="feed-form__control">
      <input name="email" required type="email" placeholder="Ваш E-mail" class="feed-form__control">

      <button type="submit" class="button button_feed-form">
        заказать кОНСУЛЬТАЦИЮ
      </button>
    </form>
  </div>
</section>