<section class="reviews">
  <div class="container">
    <div class="reviews__header">отзывы клиентов</div>

    <div class="reviews__wrapper">

      <div class="reviews__items wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
        <img src="./assets/image/clients/client1.png" alt="review" class="reviews__img">
        <div class="reviews__item">
          <div class="reviews__title">Ирина Иванченко</div>
          <div class="reviews__subtitle">2 полумарафона</div>
          <div class="reviews__descr">
            Не знала, что себе купить - обратилась к ребятам из RunSmart - подобрали пульсометр, который подошёл именно под мои цели и финансовые возможности.
            Через некоторое время решила обновить гаджет - не раздумывая обратилась туда же.
            <br>
            <br>
            Новые цели - новый гаджет!
            <br>
            <br>
            Спасибо, RunSmart! 
            <br>
          </div>
        </div>
      </div>

      <div class="reviews__items wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
        <img src="./assets/image/clients/client2.png" alt="review" class="reviews__img">
        <div class="reviews__item">
          <div class="reviews__title">Иван Сёмочкин</div>
          <div class="reviews__subtitle">1 полумарафон</div>
          <div class="reviews__descr">
            Крутая штука-пульсометр. Обычно без них бегал. Оказывается только хуже себе делал. 
            Купил пульсометр, ещё в подарок получил тренировку. Со мной вместе провели первую тренировку, научили пользоваться новым гаджетом. Также объяснили основы анатомии, составили план тренировок на месяц вперёд.
            <br>
            <br>
            С ними подготовился к своему первому полумарафону! Спасибо!!!
            <br>
          </div>
        </div>
      </div>

      <div class="reviews__items wow animate__fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
        <img src="./assets/image/clients/client3.png" alt="review" class="reviews__img">
        <div class="reviews__item ">
          <div class="reviews__title">Юлия Дашкина</div>
          <div class="reviews__subtitle">2 полумарафона</div>
          <div class="reviews__descr">
            Долго не могла начать бегать, т.к. до этого несколько раз начинала, но становилось тяжело и я бросала. От друзей услышала о RunSmart и о беге с контролем пульса и решила попробовать.
            <br>
            <br>
            Позвонила, ребята поинтересовались моими целями и подобрали очень интересный вариант со скидкой! Теперь бегаю и наслаждаюсь бегом! Пробежала уже 2 полумарафона и несколько более коротких забегов и не намерена останавливаться!
            <br>
            <br>
            Спасибо!!!
          </div>
        </div>
      </div>


    </div>
  </div>
</section>