<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Pulse Project" />
    <meta name="author" content="Mamin R R" />
    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css" />
    <!-- Tiny Slider -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Main Styles -->
    <link rel="stylesheet" href="css/index.min.css" />
    <title>Pulse</title>
  </head>
  <body>
    <div>@@include('_header.html')</div>

    <div>@@include('_advantages.html')</div>

    <div>@@include('_consultation.html')</div>

    <div>@@include('_carousel.html')</div>

    <div>@@include('_catalog.html')</div>

    <div>@@include('_reviews.html')</div>

    <div>@@include('_footer.html')</div>

    <div>@@include('_modals.html')</div>

    <div>@@include('_circle-up.html')</div>
  

    <!-- Scripts Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <!-- Plugins -->
    <script src="js/base/plugins/JQuery/jquery.maskedinput.min.js"></script>
    <script src="js/base/module/webp.min.js"></script>
    <script src="js/base/module/mailer/mailer.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
    <script src="js/base/plugins/WoW/wow.min.js"></script>
    <!-- Components -->
    <script src="js/blocks/components/sliders/slider.min.js"></script>
    <script src="js/blocks/components/tabs/tabs.min.js"></script>
    <script src="js/blocks/components/modals/modals.min.js"></script>
    <script src="js/blocks/components/validators/validators.min.js"></script>
    <script src="js/blocks/components/masked/masked.min.js"></script>
    <script src="js/blocks/components/scroll/scroll.min.js"></script>
    <!-- Main Scripts -->
    <script src="js/index.min.js"></script>
  </body>
</html>
